html {
  font-size: 14px;
}

body {
  background: #171D32;
  font-family: 'Lato', sans-serif;
  color: #fff;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #FF478B;
}

.header {
  width: 100%;
  /* height: 50px; */
  position: fixed;
  z-index: 20;
  background-color: #171d32b8;
}

.fp-slidesNav {
  text-align: center;
}
/* menu */
#menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 20;
  padding: 15px 0 15px 50px;
  /* border-bottom: 1px solid; */
  margin: 0;
}
.menu__item {
  list-style-type: none;
  padding: 0 20px;
  font-size: 20px;
}
.menu__item:first-child {
  padding-left: 0;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__item a {
  position: relative;
  text-decoration: none;
  /* font-weight: bold; */
  color: #ffffff;
}
#menu .active a {
  color: #FF478B;
}
/* .menu__item a::after {
  content: "";
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: -15px;
  width: 100%;
  height: 1px;
  color: #FF478B;
} */
.menu__item a:hover {
  border-bottom: 1px solid #FF478B;
  transition: .2s ease-in-out;
}


/* video */
#video {
  position: fixed;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  overflow: hidden;
}
#trailer > video {
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
}

/* #video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background: url("img/videoFon.jpg") no-repeat #94a233;
  background-size: cover;
}

#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto; 
}

@supports (object-fit: cover) {
   #video-bg > video {
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
   }
} */



.home, .about {
  padding: 50px;
  /* height: 85%; */
}
.home__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


.main {
  max-width: 500px;
  position: relative;
  left: 0;
  top: 0;
  color: #fff;
  margin: 0;
  z-index: 15;
  padding: 20px;
  background-color: #171d32b8;
}
.main__title {
  font-size: 40px;
  margin: 0;
}
.main__subtitle {
  font-size: 30px;
  color: #FF478B;
  margin: 10px 0 20px;
}
/* .main__text { */
  /* font-weight: 300; */
/* } */

.main__btn {
  margin: 40px 0 16px;
  text-transform: uppercase;
  display: flex;
}
.main__btn .btn:first-child {
  margin-right: 20px;
}
.main__btn .btn {
  font-size: 16px;
}
.main__btn .btn a {
  padding: 15px 50px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #FF478B;
  width: 100%;
  border-radius: 25px;
}
.main__btn .btn a:hover {
  background-color: #FF478B;
  box-shadow: 0px 38px 28px 0px rgba(0,0,0,0.7);
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* =============== about ================= */
.about {
  display: flex;
  justify-content: center;
}

.about__inner {
  /* width: 80%; */
  padding: 20px;
  background-color: #171d32b8;
}




/* =============== portfoio ============= */
.portfolio {
  padding: 0;
}
.portfolio .slide1{
  width: 100%;
  height: 100%;
  background: url(./img/rocket.png) no-repeat center;
  background-size: cover;
}
.portfolio .slide2{
  width: 100%;
  height: 100%;
  background: url(./img/gold-one.png) no-repeat center;
  background-size: cover;
}
.slide__inner {
  margin: 50px;
  height: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.slide__text {
  width: 100%;
  max-width: 500px;
  color: #fff;
  padding: 20px;
  background-color: #171d32b8;
}
h3.slide__text__title {
  font-size: 30px;
}
.slide__text__link {
  color: #fff;
}
.fp-controlArrow {
  top: 89%;
}
.fp-controlArrow.fp-prev {
  /* left: 50px; */
  border-color: transparent #FF478B transparent transparent;
}
.fp-controlArrow.fp-next {
  /* right: 50px; */
  border-color: transparent transparent transparent #FF478B;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/
.contact__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contact100 {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background: #e6e6e6; */

}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.contact__form {
  width: 100%;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

}

.wrap-contact100 {
  max-width: 550px;
  width: 100%;
  background: transparent;
  background-color: #171d32b8;
  padding: 60px 20px 80px 20px;
  display: flex;
  justify-content: center;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 17px;
}

.label-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 18px;
  color: #999999;
  /* background-color: red; */
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 15px;
  color: #43383e;
  line-height: 1.2;
  padding: 0 5px;
}


/*---------------------------------------------*/
input.input100 {
  height: 50px;
  padding: 5px;
  background-color: #fff;
  box-sizing: border-box;
}


textarea.input100 {
  min-height: 150px;
  padding: 5px;
  background-color: #fff;
  box-sizing: border-box;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-top: 12px;
  padding-bottom: 20px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-size: 15px;
  color: #43383e;
  line-height: 1.2;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 15px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 31px;
  overflow: hidden;
}

.contact100-form-btn {
  background-color: transparent;
  border-radius: 25px;
  border: none;
  color: white;
  border: 1px solid #FF478B;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}
.contact100-form-btn:hover {
  background-color: #FF478B;
  box-shadow: 0px 38px 28px 0px rgba(0,0,0,0.7);
  transition: .5s ease-in-out;
  cursor: pointer;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Oswald-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}







/* adaptive media */
@media (max-width: 480px) {
  .main__title {
    font-size: 30px;
  }
  #menu {
    padding: 15px 0;
    justify-content: space-around;
  }
  .menu__item {
    font-size: 16px;
    padding: 0;
  }

  .main__btn .btn {
    font-size: 11px;
  }
  .main__btn .btn a {
    padding: 15px 20px;
  }
}

@media (max-width: 320px) {
  .input.input100 {
    height: 40px;
  }
  .textarea.input100 {
    min-height: 100px;
  }
  .main__btn {
    justify-content: space-between;
  }
  .main__btn .btn:first-child {
    margin-right: 0;
  }
  .menu__item {
    font-size: 14px;
    padding: 0;
  }
  .main__btn .btn a {
    padding: 15px;
  }


  .about__inner {
    width: 80%;
    height: 445px;
    overflow-x: scroll;
  }
}
